<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-12">
                <h3>{{contact.name}}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img [src] = "contact.imgUrl" alt="picture of {{contact.name}}" class="img-responsive" style="max-height: 300px;">
            </div>
            <div class="col-md-3" style="margin-top: 50px; margin-left:0px;">
                    <button type="button" class="btn btn-primary ">Edit</button>
            </div>
            <div class="col-md-3" style="margin-top: 50px; margin-left:0px;">
                <div class="btn-group">
                    <button type="button" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>

    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <p>Email: {{contact.email}} </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p>Phone: {{contact.phone}}</p>
            </div>
        </div>
    </div>
    
</div>

